<p-carousel
  [value]="data"
  [numVisible]="numVisible"
  [numScroll]="numVisible"
  [circular]="true"
  [autoplayInterval]="5000"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template pTemplate="item" let-data>
    <div
      class="carousel-album-card"
      [class.dark-theme]="isDarkMode"
      [class.light-theme]="!isDarkMode"
      (click)="onCardClick(data)"
      style="cursor: pointer"
    >
      <img
        [src]="
          data.images && data.images.length > 0 && data.images[0].url
            ? data.images[0].url
            : 'https://c4.wallpaperflare.com/wallpaper/358/736/35/music-icon-symbol-sign-wallpaper-preview.jpg'
        "
        alt="Album Art"
        class="album-art"
      />
      <div class="album-title">{{ data.name }}</div>
      <div *ngIf="data && data.artists && data.artists[0]" class="album-artist">
        {{ data.artists[0].name }}
      </div>
    </div>
  </ng-template>
</p-carousel>
